.RelatedProducts-main-container{
    width: 75%;
    margin: 0 auto;
}
.RelatedProducts-main-container p{
    width: max-content;
    margin: 30px auto;
    font-size: 38px;
    font-weight: 400;
    position: relative;
    
}
.RelatedProducts-main-container p::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 2px;
    left: 15%;
    background-color: black;
}
.RelatedProducts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
@media (max-width:480px) {
    .RelatedProducts-main-container{
        width: 100%;
    }
}