.breadcrumb_icon{
    width: 14px;
    height: 14px;
    margin:0 10px;
}
.Breadcrumb-div{
    margin-left: 15%;
    margin-top: 10px;
    width: max-content;
    padding: 10px;
}
@media (max-width:480px) {
    .Breadcrumb-div{
        display: none;
    }
}