*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;
    align-items: center;
    box-shadow: -1px 2px 20px 1px rgb(216 216 216 / 61%);
}
.navbar .nav-logo {
    width: 100px;
}
.navbar .nav-logo:hover{
    cursor: pointer;
}
.navbar .nav-logo img{
    width: 100%;
}
.noMenu{
    display: flex;
    gap: 5px;
}
.navbar ul li{
    padding: 0 15px;
    list-style-type:none ;
}
.link{
    color: black;
    text-decoration: none;
    position: relative;
}
.link::before{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 2px;
    background-color: rgb(216, 216, 216);
}
.link:hover::before{
    width: 100%;
    transition: .6s;
}
.nav-login-cart{
    padding: 0 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.nav-login-cart button .Loginbtn{
    text-decoration: none;
    color: black;
}
.nav-login-cart button{
    padding: 10px;
    width: 120px;
    border: 2px solid rgb(216, 216, 216);
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    height: 50px;
}
.nav-login-cart button:hover{
    background-color: rgb(246, 246, 246);
    cursor: pointer;
}
.nav-login-cart i{
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgb(216, 216, 216);
    padding: 10px;
    position: relative;
}
.cart-link{
    display: block;
    width: max-content;
    height: max-content;
    background-color: transparent;
    border: none;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.cart-link i{
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgb(216, 216, 216);
    padding: 10px 10px 10px 15px;
    position: relative;
    width: 50px;
    height: 50px;
    display: block;
}
.nav-login-cart i:hover{
    background-color: rgb(246, 246, 246);
    cursor: pointer;
}
.nav-login-cart i .dot{
    width: 14px;
    height: 14px;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50px;
    background-color: red;
    font-size: 10px;
    text-align: center;
    color: white;
    padding-bottom: 2px;
}
.exit{
    display: none;
}
.Menu{
    display: none;
}
@media (max-width:480px){
    .Menu{
        display: block;
    }
    .navbar{
        width: 100%;
        /* background-color: aqua; */
    }
    .navbar .nav-logo {
        width: 50px;
    }
    .showMenu{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 80%;
        height: 100vh;
        background-color: rgb(216 216 216 );
        top: 0;
        right: 0;
        /* transform: translate(-50%,-50%); */
        z-index: 1;
        
    }
    .noMenu{
        display: none;
    }
    .nav-login-cart{
        gap: 10px;
        padding: 0 0 0 0px ;
    }
    .nav-login-cart button{
        font-size: 14px;
        width: 80px;
        padding: 2px;
        width: 80px;
    }
    .exit{
        display: block;
        border: 2px solid rgb(236, 236, 236);
        padding: 10px;
        border-radius: 10px;
        background-color:rgb(236, 236, 236);
    }
    .exit:hover{
        background-color:rgb(216 216 216 );
        border: 2px solid rgb(236, 236, 236);
        transition: .3s;
    }
}
@media (max-width:768px) {
    .navbar{
        width: 100vw;
        
    }
}